<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech to Insight</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 text-center">Speech to Insight</h1>
      <nav class="mt-3">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/add_recordings">Add Recordings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tools">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/worktable">Worktable</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
