<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tools</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script>
      let searchResults = [];

      async function deleteSummary() {
        const id = document.getElementById("deleteId").value;
        const response = await fetch(`/api/summaries/${id}`, {
          method: "DELETE",
        });
        if (response.status === 204) {
          alert("Summary deleted successfully");
        } else {
          const result = await response.json();
          alert(JSON.stringify(result, null, 2));
        }
        document.getElementById("deleteSummaryForm").reset();
      }

      async function deleteAllSummaries() {
        const response = await fetch(`/api/summaries`, {
          method: "DELETE",
        });
        const result = await response.json();
        alert(JSON.stringify(result, null, 2));
      }

      async function searchSummaries() {
        const title = document.getElementById("searchTitle").value;
        const content = document.getElementById("searchContent").value;
        const summary = document.getElementById("searchSummary").value;
        const date = document.getElementById("searchDate").value;
        const dateType = document.getElementById("searchDateType").value;
        const key_terms = document
          .getElementById("searchKeyTerms")
          .value.split(",");
        const location = document.getElementById("searchLocation").value;
        const content_length = document.getElementById(
          "searchContentLength"
        ).value;
        const summary_length = document.getElementById(
          "searchSummaryLength"
        ).value;
        const threat_level = document.getElementById("searchThreatLevel").value;
        const resolved = document.getElementById("searchResolved").checked;
        const clearFields = document.getElementById("clearFields").checked;

        const query = new URLSearchParams();
        if (title) query.append("title", title);
        if (content) query.append("content", content);
        if (summary) query.append("summary", summary);
        if (date) {
          query.append("date", date);
          query.append("dateType", dateType);
        }
        if (key_terms.length > 0 && key_terms[0] !== "") {
          key_terms.forEach((term) => query.append("key_terms", term.trim()));
        }
        if (location) query.append("location", location);
        if (content_length) query.append("content_length", content_length);
        if (summary_length) query.append("summary_length", summary_length);
        if (threat_level) query.append("threat_level", threat_level);
        query.append("resolved", resolved);

        const response = await fetch(
          `/api/summaries/search?${query.toString()}`
        );
        const result = await response.json();

        searchResults = result; // Store the search results

        const summariesList = document.getElementById("summariesList");
        summariesList.innerHTML = "";
        result.forEach((summary) => {
          const listItem = document.createElement("li");
          listItem.className =
            "list-group-item d-flex justify-content-between align-items-center";
          listItem.textContent = `${summary.title} (${summary.date})`;
          listItem.onclick = () => showSummaryDetails(summary);
          const addButton = document.createElement("button");
          addButton.textContent = "Add to Case";
          addButton.className = "btn btn-sm btn-primary ml-2";
          addButton.onclick = (event) => {
            event.stopPropagation();
            addToCase(summary._id);
          };
          listItem.appendChild(addButton);
          summariesList.appendChild(listItem);
        });

        if (clearFields) {
          document.getElementById("searchSummariesForm").reset();
        }
      }

      function showSummaryDetails(summary) {
        document.getElementById("summaryDetailsTitle").innerText =
          summary.title;
        document.getElementById("summaryDetailsSummary").innerText =
          summary.summary;
        document.getElementById("summaryDetailsKeyTerms").innerText =
          summary.key_terms.join(", ");
        document.getElementById("summaryDetailsThreatLevel").innerText =
          summary.threat_level;
        document.getElementById("summaryDetails").style.display = "block";
      }

      async function addToCase(summaryId) {
        const caseNumber = document.getElementById("caseNumber").value;
        if (!caseNumber) {
          alert("Please enter a case number.");
          return;
        }

        const response = await fetch(
          `/api/summaries/${summaryId}/case_number`,
          {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ case_number: caseNumber }),
          }
        );
        const result = await response.json();
        alert(result.message);
      }

      async function addAllToCase() {
        const caseNumber = document.getElementById("caseNumber").value;
        if (!caseNumber) {
          alert("Please enter a case number.");
          return;
        }

        const summaryIds = searchResults.map((summary) => summary._id);

        const response = await fetch(`/api/summaries/case_number`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            case_number: caseNumber,
            summary_ids: summaryIds,
          }),
        });
        const result = await response.json();
        alert(result.message);
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Tools</h1>
      <nav class="mt-3">
        <a class="btn btn-secondary" href="/">Back to Home</a>
      </nav>

      <!-- <h2 class="mt-4">Delete Summary</h2>
      <form
        id="deleteSummaryForm"
        onsubmit="event.preventDefault(); deleteSummary();"
        class="mt-3"
      >
        <div class="form-group">
          <label for="deleteId">Summary ID:</label>
          <input type="text" id="deleteId" required class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Delete Summary</button>
      </form>

      <h2 class="mt-4">Delete All Summaries</h2>
      <button class="btn btn-danger mt-3" onclick="deleteAllSummaries()">
        Delete All Summaries
      </button> -->

      <h2 class="mt-4">Search Summaries</h2>
      <form
        id="searchSummariesForm"
        onsubmit="event.preventDefault(); searchSummaries();"
        class="mt-3"
      >
        <div class="form-group">
          <label for="searchTitle">Title:</label>
          <input type="text" id="searchTitle" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchContent">Content:</label>
          <input type="text" id="searchContent" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchSummary">Summary:</label>
          <input type="text" id="searchSummary" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchDate">Date (YYYY-MM-DD):</label>
          <input type="date" id="searchDate" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchDateType">Date Type:</label>
          <select id="searchDateType" class="form-control">
            <option value="equal">Equal</option>
            <option value="before">Before</option>
            <option value="after">After</option>
          </select>
        </div>
        <div class="form-group">
          <label for="searchKeyTerms">Key Terms (comma-separated):</label>
          <input type="text" id="searchKeyTerms" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchLocation">Location (latitude,longitude):</label>
          <input
            type="text"
            id="searchLocation"
            placeholder="e.g., 37.7749,-122.4194"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="searchContentLength">Content Length:</label>
          <input type="number" id="searchContentLength" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchSummaryLength">Summary Length:</label>
          <input type="number" id="searchSummaryLength" class="form-control" />
        </div>
        <div class="form-group">
          <label for="searchThreatLevel">Threat Level:</label>
          <input type="text" id="searchThreatLevel" class="form-control" />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="searchResolved" />
          <label class="form-check-label" for="searchResolved">Resolved</label>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="clearFields" />
          <label class="form-check-label" for="clearFields"
            >Clear fields after search</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Search Summaries</button>
      </form>

      <h2 class="mt-4">Case Number</h2>
      <div class="form-group">
        <label for="caseNumber">Case Number:</label>
        <input type="number" id="caseNumber" class="form-control" />
      </div>
      <button class="btn btn-primary mt-3" onclick="addAllToCase()">
        Add All Summaries to Case
      </button>

      <h2 class="mt-4">Summaries</h2>
      <ul id="summariesList" class="list-group mt-3"></ul>

      <h2 class="mt-4">Summary Details</h2>
      <div id="summaryDetails" style="display: none">
        <p><strong>Title:</strong> <span id="summaryDetailsTitle"></span></p>
        <p>
          <strong>Summary:</strong> <span id="summaryDetailsSummary"></span>
        </p>
        <p>
          <strong>Key Terms:</strong> <span id="summaryDetailsKeyTerms"></span>
        </p>
        <p>
          <strong>Threat Level:</strong>
          <span id="summaryDetailsThreatLevel"></span>
        </p>
      </div>
    </div>
  </body>
</html>
